<% if flash[:notice].present? %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if session['access_token'].present? || session['fb_access_token'].present? %>
<%
  image_url =
    if session['fb_user_icon_url'].present? then session['fb_user_icon_url']
    else session['account_image_url'] end
 %>
<p>
  <%= image_tag(image_url, :class=>"account_image", :size=>"24x24") %>
  <span class="account_name"><%= session['account_name'] %></span>
  <a href="/logout">ログアウト</a>
</p>
<%= form_tag({:controller=>'posts', :action=>'create'}) do %>
  <%= submit_tag("PC用CSSビュー", {name: :view, value: 'css'}) %>
  <%= submit_tag("Flashビュー", {name: :view, value: 'flash'}) %>
  <%= submit_tag("iOS用CSSビュー", {name: :view, value: 'css_touch'}) %>
  <%= submit_tag("自動選択ビュー", {name: :view, value: 'auto_select'}) %>
  <p><%= check_box_tag(:tweet, true) %><%= label_tag(:tweet) %></p>
<% end %>
<% else %>
<p><a href="/oauth">twitterでログイン</a></p>
<p><a href="/fb_login">facebookでログイン</a></p>
<p class="sample">サンプル:
  <%= link_to 'CSS(PC)', controller: 'posts', action: 'show', id: '1', view: 'css' %>
  <%= link_to 'Flash', controller: 'posts', action: 'show', id: '1', view: 'flash' %>
  <%= link_to 'CSS(Mobile)', controller: 'posts', action: 'show', id: '1', view: 'css_touch' %>
</p>
<% end %>
