<%= content_for :header do %>
<%= stylesheet_link_tag   "css_3d_cube" %>
<%= javascript_include_tag "css_3d_cube" %>
<%
  case @view
  when 'css' %>
  <%= javascript_include_tag "css_3d_mouse" %>
<%
  when 'css_touch' %>
  <%= javascript_include_tag "jquery.mobile.config" %>
  <%= stylesheet_link_tag    "jquery.mobile-1.1.1.min" %>
  <%= javascript_include_tag "jquery.mobile-1.1.1.min" %>
  <%= javascript_include_tag "css_3d_touch" %>
<%
  when 'flash' %>
  <meta name="google" value="notranslate" />
  <!-- Enable Browser History by replacing useBrowserHistory tokens with two hyphens -->
  <!-- BEGIN Browser History required section -->
  <link rel="stylesheet" type="text/css" href="/flash/history/history.css" />
  <script type="text/javascript" src="/flash/history/history.js"></script>
  <!-- END Browser History required section -->  
  <%= javascript_include_tag "swfobject.js" %>
  <%= stylesheet_link_tag   "css_3d_flash" %>
  <%= javascript_include_tag "css_3d_flash" %>
<%
  end
end %>
<%# facebook %>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% if flash[:notice].present? %>
<p class="notice"><%= flash[:notice] %></p>
<% end %>
<%
  case @view
  when 'flash'
%>
<div class="alternative3d">
<%= render partial: 'show_flash' %>
</div>
<%
  when 'css', 'css_touch'
%>
<div class="css3_3d_transform <%= @view=='css' ? 'mouse' : 'touch' %>">
  <div class="body">
    <div id="container">
      <div id="cube">
        <% (1..6).each do |i| %>
        <img id="side<%= i.to_s %>" class="side" src="/views/forest<%= i.to_s %>.jpg" width="640" height="640" />
        <% end %>
      </div>
    </div>
    <div id="controller">&nbsp;</div>
    <div id="loading">loading...<br />please wait</div>
  </div>
  <p class="menu"><%= check_box_tag 'rotation','rotation', false, :onclick=>"rotation_check();" %><%= label_tag 'rotation', '自動で横回転する'  %></p>
</div>
<% end %>
<div class="menu <%= @view %>">
  <ul class="social_bookmark">
    <%# twitter %>
    <li class="twitter"><a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-lang="ja">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
    <%# facebook %>
    <li class="facebook"><div class="fb-like" data-href="<%= url_for(controller: 'posts', action: 'show', view: @view, only_path: false) %>" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true"></div></li>
  </ul>
  <p class="top"><%= link_to 'Top', root_path %></p>
</div>
