<!DOCTYPE html>
<html xmlns:og="http://ogp.me/ns#">
<head>
  <title>OauthSample</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "jquery-1.8.0.min" %>
  <%= javascript_include_tag "jquery.mousewheel.min" %>
  <%= javascript_include_tag "jquery.hammer.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1, maximum-scale=1, minimal-ui" />
  <meta name="apple-mobile-web-app-capable" content="no" />
  <meta property="og:title" content="タイトル" />
  <meta property="og:site_name" content="OauthSample" />
  <meta property="og:type" content="article" />
  <meta property="og:description" content="Oauth認証を使ってログインしたアカウントでtweet等のシエア操作を行なって3Dビューを紹介" />
  <meta property="og:url" content="<%= request.url %>" />
<%# Google Analytics %>
<% if Rails.env.production? %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33737280-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<% end %>
<%= yield :header %>
</head>
<body>

<%= yield %>

</body>
</html>
